@import '../../scss/_mixins.scss';

.recipeBox {
  display: flex;
  padding: 10px;
  gap: 10px;

  @include desktop {
    padding: 40px;
    gap: 100px;
  }
}
.recipeImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 300px;

  @include tablet {
    width: 300px;
    height: 500px;
  }

  @include desktop {
    width: 400px;
    height: 800px;
  }
}

.recipeImg {
  height: 300px;
  @include tablet {
    height: 500px;
  }

  @include desktop {
    height: 800px;
  }
}

.recipeTextBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  width: 200px;

  text-align: justify;

  @include tablet {
    padding: 20px;
    gap: 10px;
    width: 300px;
  }

  @include desktop {
    padding: 40px;
    gap: 20px;
    width: 600px;
  }
}
.recipeList {
  list-style-type: disc;
  font-size: 18px;
  font-weight: 700;

  @include tablet {
    font-size: 20px;
    font-weight: 700;
  }

  @include desktop {
    font-size: 23px;
    font-weight: 700;
  }
}

.recipeText {
  font-size: 9px;
  font-weight: normal;
  line-height: 1.2;

  @include tablet {
    font-size: 16px;
    font-weight: normal;
  }

  @include desktop {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8;
  }
}

.recipeBtn {
  width: 100%;
}
